<%= form_for @teacher, url: [@school, @teacher], local: true do |form| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %> prohibited
        this teacher from being saved:
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :DOB %><br>
    <%= form.text_field :birth_date %>
  </p>

  <p>
    <%= form.label :Gender %><br>
    <%= form.text_field :gender %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :Subject %><br>
    <%= form.text_field :subject %>
  </p>
  <%= link_to 'Destroy', school_teacher_path(@school),
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>