  <h1>School's list</h1>

  <%= link_to 'Add New School' , new_school_path %>

  <table>
    <tr>
      <th>School name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Classes</th>
      <th colspan="2">Actions</th>
    </tr>

    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to "#{school.school_name}", school_path(school) %></td>
        <td><%= school.description %></td>
        <td><%= school.address %></td>
        <td><%= school.classes %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Remove school', school_path(school),
                method: :delete,
                data: { confirm: 'Do you want to delete this school?'} %></td>
      </tr>
    <% end %>
  </table>